process {
    resourceLimits = [
        cpus: 22,
        memory: '126.GB',
        time: '7.day'
    ]

    withLabel: 'process_high' {
        memory = 120.GB
        cpus = 20
        time = '2d'
    }

    withName: 'BBMAP_BBNORM' {
        memory = 20.GB
        cpus = 20
        time = '2d'
        ext.args = 'prefilter'
    }

    withName: 'BBMAP_INDEX' {
        memory = 120.GB
        cpus = 20
        time = '2d'
    }
    
    withName: 'MEGAHIT_INTERLEAVED' {
        memory = 120.GB
        cpus = 20
        time = '4d'
    }

    withName: 'PROKKA' {
        memory = 120.GB
        cpus = 20
        time = '4d'
    }

    withName: 'EUKULELE_SEARCH' {
        memory = 60.GB
        cpus = 12
        time = '2d'
    }

    withName: 'EGGNOG_MAPPER' {
        memory = 60.GB
        cpus = 15
        time = '1d'
    }


    withName: 'COLLECT_FEATURECOUNTS' {
        memory = 3.GB
        cpus = 2
        time = '1d'
    }

    withName: 'FASTQC' {
        memory = 5.GB
        cpus = 3
        time = '1d'
    }

    withName: 'TRIMGALORE' {
        memory = 70.GB
        cpus = 12
        time = '1d'
    }
}
